.content {
  padding: 25px;
  background-color: #fff;
  max-width: 1200px;
  min-height: 200px;
  border-radius: 3px;

  h2 {
    color: #fc8700;
    font-weight: 400;
    line-height: 1;
    font-size: 20px;
  }
}
